.container{
  margin: 10px;
  height:100%;
  // 滚动条
  ::-webkit-scrollbar{ width: 14px; height: 14px;}
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb{ border-radius: 999px; border:5px solid transparent;}
  // ::-webkit-scrollbar-track{ box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;}
  ::-webkit-scrollbar-thumb{min-height: 20px; background-clip: content-box; box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;}
  ::-webkit-scrollbar-corner{ background: transparent;}
}
.dot-border-bottom{
  border-bottom: 1px dashed #d9d9d9;
  padding-bottom: 20px;
  &:last-of-type{
    border-bottom: 0;
  }
}
.background-gray{
  background: #E5E5E5;
}
.background-white{
  background: #fff;
}
.color-black{
  color:#000;
}
.width-100{
  width:100px;
}
.avatar-uploader{
  display: inline-block;
  width:200px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #20a0ff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.avatar {
  width: 120px;
  height: 120px;
  display: block;
}
.top{
  background: #fff;
  padding: 10px 20px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebeef5;
  .flex-item{
    width:50%;
  }
  ul{
    li{
      font-size: 14px;
      margin-bottom: 5px;
      &:first-of-type{
        font-size: 16px;
        margin-bottom: 10px;
      }
      &:last-of-type{
        margin-top: 10px;
        color:gray;
      }
    }
  }
  div.flex-item{
    margin: auto;
    padding-top: 30px;
    .status{
      position: absolute;
      left:0;
      top:-28px;
      width:100%;
      .tip{
        width:100%;
        text-align: center;
        height:28px;
        span{
          background: #303133;
          color: #fff;
          border-radius: 4px;
          padding:6px;
        }
      }
      .tipSuc{
        width:100%;
        text-align: center;
        height:28px;
        span{
          background: #409EFF;
          color: #fff;
          border-radius: 4px;
          padding:6px;
        }
      }
      .tip-mark{
        position: absolute;
        right: calc(50% + 40px);
        top: -20px;
        width: 300px;
        height: 50px;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 5px;
        overflow: hidden;
        overflow-y: auto;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        word-wrap: break-word;
        text-align: left;
        background-color: #fff;
      }
      i{
        position: absolute;
        width: 100%;
        left: 0;
        top: 19px;
        color:#303133;
      }
    }
  }
}
.content{
  display: flex;
  justify-content: space-around;
  height: calc(100% - 98px);
  font-size: 14px;
  .flex-item{
    width:85%;
    padding: 10px 0 10px 10px;
    height: 100%;
    overflow-y: auto;
    &:first-of-type{
      background: #fff;
      border-right: 1px solid #bbbbbb;
    }
    &:last-of-type{
      width:25%;
      padding-left: 0;
      padding-top: 0;
    }
    ul{
      background: #F8F8F8;
      border: 1px solid #bbbbbb;
      color: #aeaeae;
      border-left: 0;
      li{
        padding:0 10px;
        border-bottom: 1px solid #bbbbbb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          padding-top: 5px;
          font-size: 12px;
        }
        &:first-of-type{
          height:51px;
        }
        &:last-of-type{
          border-bottom: none;
        }
        >div{
          padding: 10px 0;
          &.click-right{
            width:100px;
            text-align: right;
            cursor: pointer;
          }
        }
      }
    }
    .tab-content{
      overflow-y: auto;
      border: 1px solid #bbbbbb;
      border-right:0;
      border-top:0;
      padding:10px;
      p.title{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 10px;
      }
      .info-list{
        border-bottom: 1px solid #bbbbbb;
        padding: 20px 10px;
        &:last-of-type{
          border-bottom: none;
        }
        .text{
          margin-top: 10px;
        }
        img{
          vertical-align: top;
          width:200px;
        }
        p{
          padding: 5px 0;
          span{
            &:first-of-type{
              display: inline-block;
              width:135px;
              margin-right: 10px;
            }
          }
        }
        .flex{
          display: flex;
          justify-content: space-between;
        }
        .more{
          background: #20a0ff;
          color: #fff;
          text-align: center;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      .input-group{
        display: flex;
        flex-wrap: wrap;
        .input-group-item{
          width:150px;
        }
      }
    }
    .core-enterprise{
      border: 1px solid #bbbbbb;
      padding: 10px;
      background: #f5f7fa;
    }
  }
}
.dialog-content{
  .tip{
    font-size: 16px;
    padding-bottom: 10px;
    color: #00b050;
  }
  .top-info{
    display: flex;
    justify-content: space-between;
    >div{
      &:last-of-type{
        >span{
          display: inline-block;
          width: 60px;
          text-align: center;
        }
      }
    }
  }
  .group-item{
    margin-top: 10px;
  }
  table{
    margin-top: 10px;
    border: 1px solid #bbb;
    width: 100%;
    border-collapse: collapse;
    tr{
      td{
        border:1px solid #bbb;
        &:first-of-type{
          padding-left: 5px;
        }
        &:nth-of-type(2),&:last-of-type{
          vertical-align: middle;
          position: relative;
          width: 60px;
          height: 30px;
          text-align: center;
          input[type="radio"] {
            width: 100%;
            height: 100%;
            opacity: 0;
          }
          label {
            position: absolute;
            left: 20px;
            top: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid #999;
          }
          input:checked+label {
            background-color: #409eff;
            border: 1px solid #409eff;
          }
          input:checked+label::after {
            position: absolute;
            content: "";
            width: 5px;
            height: 10px;
            top: 3px;
            left: 6px;
            border: 2px solid #fff;
            border-top: none;
            border-left: none;
            transform: rotate(45deg)
          }
        }
      }
    }
  }
}
.checkbox-group{
  padding: 10px 0;
}
.el-checkbox-group{
  .el-checkbox+.el-checkbox {
    margin-left: 0;
  }
  .el-checkbox {
    margin-right: 30px;
  }
}
.first_tab_content{
    line-height: 35px;
}
.table_top{
  .el-row{
      margin-bottom: 1px;
  }
  .el-col{
      
  }
  .bg_left{
      padding-left: 10px;
      text-align: center;
      background-color: #b9d7fb;
  }
  .bg_right{
      padding-left: 10px;
      text-align: left;
      background-color: #fff;
  }
}
.trade_match_lists{ 
    .el_row_top{
    }
    .el_row{
        height: 50px;
        line-height: 50px;
    }
    .el_row:nth-of-type(even){
       background-color: #E4E7ED;
       margin: 0 -20px;
       padding: 0 20px;
    }
    .span4{
        text-align: center;
    }
}
.viewBankserialForm{
    .el-row{
        line-height: inherit;
        margin-bottom: 18px;
    }
    .el-input{
        width: 92%;
        line-height: 110px;
    }
    .dot-border-bottom{
        line-height: 110px;
    }
}