$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$backgroundColor:   #e9ecf3;
$suc:#00b050;
$fail:#ff0000;
$draw:#676767;
$border-color: #ebeef5;
$border: 1px solid $border-color;
